﻿@{
    ViewBag.Title = "DEPORTES";
}

<h2>PAGINA DEPORTE... @ViewBag.deporte</h2>

@using (Html.BeginForm()) { 
    @Html.AntiForgeryToken()
    <p>
        Deporte: @Html.TextBox("Valor")
        <input type ="submit" value = "Buscar" />
    </p>
}


@*<form action="/deportes" method="post">    <p>
        Deporte: <input id="Valor" name="Valor" type="text" />
        <input type ="submit" value = "Buscar" />
    </p>
</form>*@


