﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2><br />
                <h2>@ViewBag.Variable</h2>
            </hgroup>
        </div>
    </section>

}
